.container{
    margin-top: 50px;
}

.form-container {
    width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }

form {
    max-width: 800px;
    margin: 0 auto;
  }

.form {
background: #0e101c;
max-width: 600px;
margin: 0 auto;
}

p {
    color: #bf1650;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  button[type="submit"],
  input[type="submit"] {
    background: #1DB954;
    color: rgb(13, 13, 13);
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
  }

  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #15803b;
  }

  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  input:disabled {
    opacity: 0.4;
  }

  input[type="button"]:hover {
    transition: 0.3s all;
  }

.navbar-custom {
    background-color: #1DB954;
}


/* tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
} */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set the width to the container width */
  height: 200px; /* Set the height to desired height */
  padding-bottom: 30px;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  display: block; /* Prevent extra space below the image */
  margin: auto; /* Center the image horizontally */
}

  .button-sug {
    background: #1DB954;
    color: rgb(13, 13, 13);
    text-transform: uppercase;
    border: none;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 5px;

  }

.button-sug:hover {
    background: #15803b;
  }

button:disabled,
button[disabled]{
  background: #093819;;
}

.custom-container {
    max-width: 100%;
    min-width: 90%;
    width: 100%;
    margin: auto
}


.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

li {
  padding: 5px;
  /* width: 100%; */
}

.track-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #fff;
}

.track-info:hover {
  background-color: #15803b;
  filter: brightness(135%);
  cursor: default;
}

.track-info:hover span {
  color: #fff !important;
}

.art {
  width: 64px;
}

.art img {
  width: 64px;
  height: 64px;
}

.name {
  font-size: 0.8rem;
  width: 60%;
  margin-left: 1rem;
}

.track-details {
  font-size: 0.8rem;
  width: 60%;
  margin-left: 1rem;
}

.track-details span {
  color: #b3b3b3;
  padding-top: 5px;
  font-size: 0.65rem;
  display: block;
}

.track-details .album {
  font-size: 0.6rem;
}

@media (min-width: 760px) {
  .name {
    font-size: 0.9rem;
  }

  .name span {
    font-size: 0.7rem;
  }
}

@media (min-width: 1260px) {
  .name {
    font-size: 1rem;
  }

  .name span {
    font-size: 0.8rem;
  }
}

.duration {
  width: 9%;
  align-self: center;
  justify-self: flex-start;
}

.duration span {
  color: #b3b3b3;
  text-align: left;
  font-size: 0.7rem;
}

@media (min-width: 760px) {
  .duration span {
    font-size: 0.8rem;
  }
}

@media (min-width: 1260px) {
  .duration span {
    font-size: 0.9rem;
  }
}

.pagination {
  padding: 10px;
  --bs-pagination-color: white;
  --bs-pagination-bg: #1f211f;
  --bs-pagination-active-color: #1f211f;
  --bs-pagination-active-bg: #15803b;
  --bs-pagination-active-border-color: #15803b;
  --bs-pagination-disabled-color: white;
  --bs-pagination-disabled-bg: #4d534d;
}

li.page-item > a {
  background-color: #1f211f;
  color: white;
}

li.page-item.active > span.page-link {
  background-color: #15803b;
  color: #1f211f;
  border-color: #15803b;
}

.mb-2 {
  float: right;
  text-align: right;
}

.spacer {
  margin-top: 10%;
}

.invalid-input {
  color: red;
}